:root {
    --grid-cols: 1;
    --grid-rows: 1;
}

#enterUsername {
    padding-top: 3em;
}

#container {
    width: 50%;
    padding: 1em;
    position: center;
    display: none;
    grid-gap: 0.2em;
    grid-template-rows: repeat(var(--grid-rows), 0.1fr);
    grid-template-columns: repeat(var(--grid-cols), 0.01fr);
}



/* .grid-item1 {
padding: 1em;
border: 1px solid #ddd;
text-align: center;

} */

/* [id^="1"] {
padding: 1em;
border: 1px solid #ddd;
text-align: center;
} */
/*
[id^="scores"] {
  display: inline-block;
  padding-left: 2em;
  
}*/

/*[id^="score"] {
  display: none;
}*/

div#scores1 {
    display: inline-block;
    float: left;
    width: 20%;
}

div#scores2 {
    display: inline-block;
    float: right;
    width: 20%;
}

/*p#user1 {
  display: inline-block;
  float: left;
  width: 30%;
}

p#user2 {
  display: inline-block;
  float: right;
  width: 30%;
}
*/
#container div {
    padding: 1em;
    border: 1px solid #ddd;
    text-align: center;
}


#submit {
    position: absolute;
}

p {
    position: absolute;
    padding: 1em;
}

.scoresContainer {
    padding: 20px;
}

#scores1 {
    width: 5%;
    float: left;
    padding: 0px;
}

#scores2 {
    width: 5%;
    float: left;
    padding: 0px;
}

#button {
    padding: 1em;
}

#timer {
    clear: both;
    padding: 1em;
    padding-top: 4em;
}

#startButton {
    display: none;
}

#secs {
    padding-top: 2em;
}

div#finalPage {
    display: inline-block;
    padding: 1em;
    width: 100%;
}

div#final1 {
    display: inline-block;
    float: left;
    width: 30%;
}


div#final2 {
    display: inline-block;
    float: right;
    width: 20%;
}

p#finalScores1 {
    float: left;
    display: inline;
}

p#finalScores2 {
    float: right;
    display: block;
}

input#viewScores {

    display: none;
}
