@page
@*    <!DOCTYPE html>*@

    <head>
        <title>Boggle</title>
        <link rel="stylesheet" type="text/css" href="~/css/bogger.css">
        <script type="text/javascript" defer src="~/js/bogger.js"></script>
    </head>

    <body>

        <div id="timer">
            <span id="secs">01:00</span>
            <input type="button" id="startButton" value="start game">
        </div>
        <div id="container">
        </div>

        <div id="button">
            <input type="submit" id="submit" onclick="tryit()">
        </div>

        <p id="print"></p>

    </body>